.direction {
  border: none;
  position: relative;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  z-index: 50;
}

.arrow{
  height: 3em;
  width: 3em;
}

.container-imgs{
  z-index: -1;
  position: absolute;
  height: 70vw;
  width: 70vw; 
  overflow: hidden;
}
.continuidad{
  height: 70vw;
  width: 280vw;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(0%);
  transition: 1s;
  
}


.bkg-img {
  background-size: cover;
  background-position: center 0px;
  height: 70vw;
  width: 70vw;
}

.info-project{
  position: absolute;
  width: 70vw;
  height: 70vw;
  /* background-color: aquamarine; */
  z-index: 10000;
  top: 140vw;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  transition: 2s;
}

.info-project h4{

font-size: 1.5em;
padding-top:5em ;
  font-weight: 600
}

.info-project h5{
  font-family: "Rubik", sans-serif;    
  font-weight: 100;line-height: 3em;padding-left: 4em;padding-right: 3em;
  font-size: 1.1em;
  text-align: center;

}

#box0{
  /* background-color: floralwhite; */
  left: 0px;
}
#box1{
  /* background-color: blueviolet; */
  left: 70vw;
}
#box2{
  /* background-color: azure; */
  left: 140vw;
}
#box3{
  /* background-color: lightgrey; */
  left: 210vw;
}

.carrusel-box {
  height: 70vw;
  width: 70vw;
  z-index: 20;
  background: transparent; 
}

@media only screen and (min-width: 645px) {
  .arrow{
    height: 5em;
    width: 5em;
  }}
@media only screen and (min-width: 935px) {  

  .arrow{
    height: 7em;
    width: 7em;
  }

  .bkg-img {
    height: 600px;
    width: 600px;
  }

  .info-project{
    /* position: absolute; */
    width: 600px;
    height: 600px;
    /* background-color: aquamarine; */
    /* z-index: 10000; */
    /* top: 70vw; */
    /* transition: 2s; */
  }
  
  #box0{
    /* background-color: floralwhite; */
    left: 0px;
  }
  #box1{
    /* background-color: blueviolet; */
    left: 600px;
  }
  #box2{
    /* background-color: azure; */
    left: 1200px;
  }
  #box3{
    /* background-color: lightgrey; */
    left: 1800px;
  }

  .carrusel-box {
    height: 600px;
    width: 600px;
  }
  .container-imgs{
    z-index: -1;
    position: absolute;
    height: 600px;
    width: 600px; 
    overflow: hidden;
  }
  .continuidad{
    height: 600px;
    width: calc(600px * 4);
    display: flex;
    flex-wrap: wrap;
  }
}
