.backg{
    background-color: #212124;
    width: 100vw;
    height: 400vh;
    position: absolute;
    z-index: -100;
}

.box{
    position: relative;
    left:0px;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.box.home{
    height: calc( 100vh - 5em);
    background-color: #18181b;
z-index: 0;
}

.box.about{
background-color: #000;
display: flex;
z-index: 0;
}

.box.technology{
    z-index: 10;
    background-color: #18181b;

}

.box.proyects{
    z-index: 0;
    background-color: #000;
}


@media only screen and (min-width: 935px) {
    
    .box{
    position: relative;
    z-index: -2;
    width: 100vw;
    display: flex;
    align-items: center;
}
}
@media only screen and (min-width: 1250px) {
    
    .box{
        
    left: calc(50% - 625px);
    width: 1250px;
}
}

