.conteinerLevel{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #313136;
    width: 52em;
    border-radius: 2em 2em 2em 2em;
    z-index: 3;
    height: 2em;
    margin: .5em;
    padding: .4em;
}

.conteinerLevel .level{
    height: 2em;
    width: 45em;
    border-radius: 3em 3em 3em 3em;
    background-color: #18181b;
    margin-right: .7em;
}
.conteinerLevel .icon {
    margin-right: .7em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    background-color: #fa2;
    border-radius: 3em 3em 3em 3em;

}


.levelOrange{
    height: 2em;
    border-radius: 3em 3em 3em 3em;
    background-color: #fa2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.porcent {
    color: #f5f5f5;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Rubik", sans-serif;    
}

.nameApp{
    font-size: 1.4em;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    color: #18181b;
    opacity: .5;
}


@media only screen and (max-width: 935px) {
    .conteinerLevel{
        width: 90vw;
        height: 1.4em;
        padding: .4em;
        margin: .5em;
        margin-bottom: .6em;
    }
    .conteinerLevel .level{
        height: 1.4em;
        width: 85vw;
        margin-right: .7em;
    }
    .conteinerLevel .icon {
        margin-right: .7em;
        width: 1.4em;
        height: 1.4em;
    }
    .levelOrange{
        height: 1.4em;
        display: flex;
        
    }
    .porcent {
        display: flex;
        font-size: .7em;
        font-weight: 600;
        font-family: "Rubik", sans-serif;    
    }
    .nameApp{
        font-size: .9em;
        font-weight: 400;
        font-family: "Rubik", sans-serif;
    }
    
  }